 
#search-results li .link-title {
    color: #1abc9c;
    font-size: 0.875em;
    overflow: hidden;
}
#search-results li .desc {
    font-size: 0.875em;
    margin-top: 3px;
    max-width: 750px;
}
#search-form .input-group-btn button {
    height: 46px;
    font-size: 16px;
}
#search-form .input-group-btn button>i { margin-right: 3px }
#search-form .input-group .form-control { font-size: 16px }
#timeline-grid { position: relative }
#timeline-grid .item {
    border-radius: 3px;
    background-clip: padding-box;
    box-shadow: 1px 1px 2px 0 #CCCCCC;
    overflow: hidden;
    background: #fff;
}
#timeline-grid .item a { text-decoration: none }
#timeline-grid .item a:hover { text-decoration: underline }
#timeline-grid .item img { width: 100% }
#timeline-grid .item .text { display: block }
#timeline-grid .item .time,
#timeline-grid .tweet .user {
    font-style: italic;
    color: #666666;
}
#timeline-grid .tweet-wrapper {
    padding: 10px;
    line-height: 16px;
    font-size: 0.875em;
    line-height: 1.4;
}
#error-page { background-color: #eeeeee }
#error-box {
    min-width: 280px;
    text-align: center;
    margin: 40px auto 20px;
}
#error-box h1 {
    margin-top: 40px;
    color: #605f5f;
    padding: 0;
}
#error-box p { margin: 20px 0 }
.pace .pace-progress {
    background: #1ABC9C;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    transition: width 1s;
}
.pace-inactive { display: none }
.daterange-filter {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    padding: 5px 10px;
}
.main-box-header .daterange-filter {
    margin-top: 7px;
    margin-bottom: 7px;
}
.filter-block { margin-top: 7px }
@media only screen and (max-width: 440px) { 
    .filter-block {
        float: none!important;
        clear: both;
    }
}
.filter-block .form-group {
    margin-right: 10px;
    position: relative;
}
@media only screen and (max-width: 440px) { 
    .filter-block .form-group {
        float: none!important;
        margin-right: 0;
    }
}
.filter-block .form-group .form-control { height: 34px }
.filter-block .form-group .search-icon {
    position: absolute;
    color: #707070;
    right: 8px;
    top: 11px;
}
.filter-block .btn { margin-left: 5px }
@media only screen and (max-width: 440px) { 
    .filter-block .btn {
        display: block;
        float: none!important;
        margin-bottom: 15px;
        margin-left: 0;
    }
}
@media only screen and (max-width: 440px) { 
    #reportrange {
        clear: both;
        float: none!important;
        margin-bottom: 15px;
    }
}
.the-icons {
    font-size: 0.875em;
    line-height: 2;
}
.the-icons .glyphicon {
    width: 30px;
    text-align: center;
}
.tabs-wrapper .nav-tabs { margin-bottom: 15px }
.tabs-wrapper .tab-content {
    margin-bottom: 20px;
    padding: 0 10px;
}
.dropdown-example ul.dropdown-menu { display: block }
svg { width: 100%!important }
.top-page-ui { margin-top: -10px }
#content-wrapper.email-inbox-wrapper {
    background-color: #fff;
    min-height: inherit;
    padding: 0 15px;
}
@media (max-width: 767px) { 
    #content-wrapper.email-inbox-wrapper {
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media (max-width: 419px) { 
    #content-wrapper.email-inbox-wrapper {
        padding-left: 5px;
        padding-right: 5px;
    }
}
#email-box {
    background: #fff;
    margin: 0 -15px;
    padding: 15px 15px 0;
}
@media (max-width: 767px) { 
    #email-box {
        margin-left: -8px;
        margin-right: -8px;
        padding-left: 8px;
        padding-right: 8px;
    }
}
@media (max-width: 419px) { 
    #email-box {
        margin-left: -5px;
        margin-right: -5px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
#email-box ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#email-header { padding-bottom: 10px }
#email-header-title {
    font-size: 1.8em;
    font-weight: 300;
    position: absolute;
    width: 200px;
}
#email-header-tools {
    margin-left: 215px;
    position: relative;
    float: left;
}
@media (max-width: 991px) { 
    #email-header-tools { margin-left: 0 }
}
#email-header-pagination .pagination {
    padding: 0;
    margin: 0;
}
#email-header-pagination .num-items {
    margin-right: 10px;
    margin-top: 9px;
    font-size: 0.875em;
}
#email-navigation {
    width: 200px;
    position: absolute;
}
#email-navigation .email-compose-btn {
    display: block;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 0.875em;
    font-weight: 600;
}
#email-navigation .email-compose-btn>i { margin-right: 3px }
#email-nav-items { margin: 15px 0 5px }
#email-nav-items li { border-left: 3px solid #fff }
#email-nav-items li a {
    color: #929292;
    font-size: 0.875em;
    display: block;
    padding: 8px 5px 8px 0;
}
#email-nav-items li a i {
    margin-right: 5px;
    text-align: center;
    width: 25px;
    color: #929292;
}
#email-nav-items li a:hover {
    color: #1ABC9C;
    text-decoration: none;
}
#email-nav-items li.active {
    background: none repeat scroll 0 0 #e7ebee;
    border-left-color: #1ABC9C;
    font-weight: 700;
}
#email-nav-items li.active a { color: #1ABC9C }
#email-nav-labels-wrapper { padding: 20px 0 10px }
#email-nav-labels-wrapper .email-nav-headline {
    color: #777;
    font-size: 0.75em;
    font-weight: 700;
    text-transform: uppercase;
}
#email-nav-labels { padding: 5px 0 0 }
#email-nav-labels li a {
    color: #929292;
    font-size: 0.875em;
    display: block;
    padding: 8px 5px 8px 0;
}
#email-nav-labels li a:hover {
    color: #1ABC9C;
    text-decoration: none;
}
#email-nav-labels li a i {
    margin-right: 5px;
    text-align: center;
    width: 25px;
}
#email-content {
    position: relative;
    margin-left: 215px;
}
@media (max-width: 991px) { 
    #email-content {
        margin-left: 0;
        margin-bottom: 35px;
        height: auto!important;
    }
}
#email-list { padding: 10px 0 1px }
#email-list li {
    background-color: #f3f7fa;
    height: 46px;
    line-height: 46px;
    overflow: hidden;
    padding-left: 250px;
    padding-right: 10px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e7ebee;
}
@media (max-width: 767px) { 
    #email-list li {
        height: auto;
        padding-left: 45px;
        line-height: 1.5;
        min-height: 46px;
    }
}
#email-list li:first-child { border-top: 1px solid #d3d9dd }
#email-list li.unread { background-color: #fff }
#email-list li.unread .name,
#email-list li.unread .message .subject { font-weight: 700 }
#email-list li.unread .meta-info { background-color: #fff }
#email-list li .chbox {
    height: 24px;
    left: 10px;
    position: absolute;
    top: 11px;
    width: 24px;
}
@media (max-width: 767px) { 
    #email-list li .chbox {
        top: 50%;
        margin-top: -12px;
    }
}
#email-list li .star {
    left: 38px;
    position: absolute;
    top: 11px;
}
@media (max-width: 767px) { 
    #email-list li .star { display: none }
}
#email-list li .star a:before {
    color: #ffc107;
    content: "\f006";
    display: block;
    font-family: FontAwesome;
    font-size: 1.25em;
    font-style: normal;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    width: 24px;
}
#email-list li .star a:hover { text-decoration: none }
#email-list li .star a:hover:before { color: #ffa000 }
#email-list li .star a.starred:before { content: "\f005" }
#email-list li .name {
    font-size: 0.875em;
    left: 70px;
    position: absolute;
    width: 170px;
}
@media (max-width: 767px) { 
    #email-list li .name {
        left: 45px;
        line-height: 1.5;
        padding-top: 8px;
    }
}
#email-list li .message { font-size: 0.875em }
@media (max-width: 767px) { 
    #email-list li .message {
        margin-top: 24px;
        padding-bottom: 8px;
    }
}
#email-list li .message>.label { margin-right: 2px }
@media (max-width: 767px) { 
    #email-list li .message>.label { display: none }
}
#email-list li .message>.body {
    color: #777;
    font-weight: 400;
}
#email-list li .meta-info {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #f3f7fa;
}
@media (max-width: 767px) { 
    #email-list li .meta-info {
        padding-left: 5px;
        padding-right: 5px;
    }
}
#email-list li .meta-info .attachment {
    color: #929292;
    display: inline-block;
    font-size: 1.125em;
    margin-right: 5px;
}
@media (max-width: 767px) { 
    #email-list li .meta-info .attachment { display: none }
}
#email-list li .meta-info .date {
    display: inline-block;
    font-size: 0.875em;
    text-align: right;
    width: 60px;
}
@media (max-width: 767px) { 
    #email-list li .meta-info .date {
        width: 50px;
        margin-top: 8px;
    }
}
#email-list li:hover,
#email-list li:hover .meta-info {
    cursor: pointer;
    background-color: #eff3f6;
}
#email-header-mobile {
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
}
#email-header-mobile #email-header-title-mobile {
    font-size: 1.4em;
    font-weight: 300;
}
#email-detail {
    position: relative;
    margin-left: 215px;
}
@media (max-width: 991px) { 
    #email-detail {
        margin-left: 0;
        margin-bottom: 35px;
    }
}
#email-detail-subject,
#email-new-title {
    border-bottom: 1px solid #e7ebee;
    border-top: 1px solid #e7ebee;
    font-weight: 300;
    line-height: 1.5;
    margin-top: 5px;
    padding: 15px 0;
}
#email-new-title { margin-bottom: 20px }
#email-detail-subject .subject,
#email-new-title .subject {
    display: block;
    float: left;
    font-size: 1.5em;
    margin-right: 10px;
}
#email-detail-subject .label {
    display: inline-block;
    float: left;
    margin-top: 4px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#email-detail-sender {
    border-bottom: 1px solid #e7ebee;
    height: 70px;
    padding: 10px 0 10px 60px;
    position: relative;
}
@media (max-width: 767px) { 
    #email-detail-sender { padding-left: 0 }
}
#email-detail-sender .picture {
    left: 0;
    position: absolute;
    top: 10px;
}
#email-detail-sender .picture img {
    border-radius: 50%;
    background-clip: padding-box;
    width: 50px;
}
#email-detail-sender .users { padding-top: 6px }
#email-detail-sender .users .from .name {
    float: left;
    font-weight: 700;
    margin-right: 5px;
}
#email-detail-sender .users .from .email { float: left }
#email-detail-sender .users .to { color: #777 }
#email-detail-sender .tools {
    margin-top: -18px;
    position: absolute;
    right: 0;
    top: 50%;
}
#email-detail-sender .tools .date {
    color: #777;
    float: left;
    font-size: 0.875em;
    line-height: 36px;
    margin-right: 10px;
}
#email-detail-sender .tools .btns { float: right }
#email-detail-sender .tools .btns .dropdown-menu {
    left: auto;
    right: 0;
}
#email-body { padding: 18px 30px 18px 0 }
#email-body p { margin: 0 0 10px }
#email-body p:last-child { margin-bottom: 0 }
#email-body ul,
#email-body ol {
    list-style: inherit;
    padding-left: 20px;
    margin-bottom: 10px;
}
#email-body ul li,
#email-body ol li {
    padding: 2px 0;
    line-height: 1.4;
}
#email-body h1 {
    padding-left: 0;
    margin-bottom: 15px;
    margin-top: 25px;
}
#email-body h2 {
    margin-top: 20px;
    padding: 0;
}
#email-body h3 {
    border: none;
    padding-left: 0;
    margin-top: 15px;
}
#email-detail-attachments {
    border-top: 1px solid #e7ebee;
    padding: 18px 0;
}
#email-detail-attachments #email-attachments-header .headline {
    float: left;
    font-size: 0.875em;
}
#email-detail-attachments #email-attachments-header .headline>span { font-weight: 600 }
#email-detail-attachments #email-attachments-header .headline>b { font-weight: 600 }
#email-detail-attachments #email-attachments-header .tools {
    float: left;
    font-size: 0.875em;
    margin-left: 3px;
}
#email-detail-attachments #email-attachments-content ul li {
    background: none repeat scroll 0 0 #e7ebee;
    border: 1px solid #e7ebee;
    border-radius: 3px;
    background-clip: padding-box;
    float: left;
    font-size: 0.875em;
    margin: 10px 10px 10px 0;
    overflow: hidden;
    padding: 0;
}
#email-detail-attachments #email-attachments-content ul li .img {
    border-radius: 3px 3px 0 0;
    background-clip: padding-box;
    height: 87px;
    overflow: hidden;
    width: 130px;
    text-align: center;
}
#email-detail-attachments #email-attachments-content ul li .img img { width: 100% }
#email-detail-attachments #email-attachments-content ul li .img>i {
    font-size: 5.7em;
    padding: 10px 0;
}
#email-detail-attachments #email-attachments-content ul li .name {
    display: block;
    padding: 4px 6px;
}
#email-detail-attachments #email-attachments-content ul li>a {
    display: block;
    padding: 0 6px 5px;
}
#email-new {
    position: relative;
    margin-left: 215px;
}
@media (max-width: 991px) { 
    #email-new {
        margin-left: 0;
        margin-bottom: 55px;
    }
}
#email-new-header .form-group label,
#email-new-body label {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 9px;
    text-align: right;
}
@media (max-width: 767px) { 
    #email-new-header .form-group label,
    #email-new-body label { padding-bottom: 4px }
}
#email-new-body label {
    text-align: left;
    padding-left: 5px;
}
#email-new-footer {
    margin-top: 20px;
    margin-bottom: 20px;
}
#email-new .form-control-s2 { width: 100% }
#email-new .wysiwyg-editor {
    max-height: 220px;
    height: 220px;
}
#email-new .select2-container.select2-container-multi .select2-choices .select2-search-field input { height: 32px }
#config-tool {
    position: fixed;
    right: 0;
    top: 120px;
    width: 200px;
    z-index: 1000;
    transition: all 0.2s ease-in-out 0s;
}
#config-tool #config-tool-cog {
    background: #fff;
    border-radius: 3px 0 0 3px;
    background-clip: padding-box;
    box-shadow: -3px 3px 3px -2px rgba(0,0,0,0.1);
    cursor: pointer;
    left: -50px;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 50px;
    transition: all 0.1s ease-in-out 0s;
    top: 0;
}
#config-tool.closed #config-tool-cog i {
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -ms-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite;
}
#config-tool.closed #config-tool-cog:hover {
    background-color: #1ABC9C;
    color: #fff;
}
#config-tool #config-tool-cog i { font-size: 2.2em }


@-webkit-keyframes rotating {
  /* line 43 */
  from {
    transform: rotate(0deg); }

  /* line 46 */
  to {
    transform: rotate(360deg); } }

@-moz-keyframes rotating {
  /* line 43 */
  from {
    transform: rotate(0deg); }

  /* line 46 */
  to {
    transform: rotate(360deg); } }

@-ms-keyframes rotating {
  /* line 43 */
  from {
    transform: rotate(0deg); }

  /* line 46 */
  to {
    transform: rotate(360deg); } }

@-o-keyframes rotating {
  /* line 43 */
  from {
    transform: rotate(0deg); }

  /* line 46 */
  to {
    transform: rotate(360deg); } }

@keyframes rotating {
  /* line 43 */
  from {
    transform: rotate(0deg); }

  /* line 46 */
  to {
    transform: rotate(360deg); } }

/* line 50 */
#config-tool #config-tool-options {
  background: #fff;
  box-shadow: -3px 3px 3px -2px rgba(0, 0, 0, 0.1);
  padding: 15px; }

/* line 55 */
#config-tool #config-tool-options h4 {
  margin: 0;
  font-size: 1.3em; }

/* line 59 */
#config-tool #config-tool-options ul {
  list-style: none;
  padding: 15px 0 0;
  margin: 0; }

/* line 64 */
#config-tool #config-tool-options ul li {
  padding: 4px 0; }

/* line 67 */
#config-tool #config-tool-options ul li .checkbox {
  margin: 0; }

/* line 70 */
#config-tool.closed {
  right: -200px; }

/* line 73 */
#config-tool.opened {
  right: 0; }

/* line 76 */
#config-tool #skin-colors li {
  display: block;
  float: left;
  padding: 3px !important; }

/* line 81 */
#config-tool #skin-colors li a.skin-changer {
  background: #1ABC9C;
  display: block;
  height: 30px;
  width: 30px;
  cursor: pointer; }

/* line 91 */
#config-tool #skin-colors li:nth-child(5) {
  clear: left; }

/* line 94 */
#config-tool #skin-colors li a.skin-changer.active {
  border: 2px solid #ff0000; }

/* RTL support */
/* line 3 */
.rtl #content-wrapper {
  margin-left: 0;
  margin-right: 220px; }
/* line 7 */
.rtl .nav-small #content-wrapper {
  margin-right: 64px; }
/* line 10 */
.rtl .pull-left {
  float: right !important; }
/* line 13 */
.rtl .pull-right {
  float: left !important; }
/* line 16 */
.rtl .nav > li {
  float: right; }
/* line 19 */
.rtl #sidebar-nav .nav > li {
  float: none; }
/* line 22 */
.rtl #sidebar-nav .nav > li > a {
  border-left: none;
  padding-left: 15px;
  padding-right: 20px; }
/* line 27 */
.rtl #sidebar-nav .nav > li > a:hover {
  border-left-color: transparent;
  border-right-color: #1ABC9C; }
/* line 37 */
.rtl .nav-pills > li.active > a, .rtl .nav-pills > li.active > a:hover, .rtl .nav-pills > li.active > a:focus, .rtl #sidebar-nav .nav-pills > li.active > a, .rtl #sidebar-nav .nav-pills > li.active > a:hover, .rtl #sidebar-nav .nav-pills > li.active > a:focus, .rtl .nav-small #nav-col #sidebar-nav .nav-pills > li.open > a {
  border-left-color: transparent;
  border-right-color: #1ABC9C; }
/* line 41 */
.rtl #sidebar-nav .nav > li > a > span {
  margin-left: 0;
  margin-right: 35px; }
/* line 45 */
.rtl #sidebar-nav .nav > li > a > span.label {
  margin-right: 0; }
/* line 48 */
.rtl #sidebar-nav .nav li > a.dropdown-toggle > .drop-icon {
  left: 25px;
  right: auto; }
/* line 52 */
.rtl #sidebar-nav .nav li .submenu > li > a {
  padding-left: 0;
  padding-right: 66px; }
/* line 56 */
.rtl #sidebar-nav .nav > .open > .submenu > li > .submenu a:before {
  margin-right: -10px;
  margin-left: 0; }
/* line 60 */
.rtl .navbar > .container .navbar-brand {
  margin-right: -8px;
  margin-left: 0; }
/* line 64 */
.rtl #user-left-box img {
  float: right; }
/* line 67 */
.rtl #user-left-box .user-box {
  padding-left: 0;
  padding-right: 15px;
  float: right; }
/* line 72 */
.rtl .nav-small #nav-col #sidebar-nav .nav li .submenu {
  right: 64px;
  left: auto; }
/* line 76 */
.rtl .messages-list .item > a > .content {
  padding-left: 0;
  padding-right: 50px; }
/* line 80 */
.rtl .notifications-list .item a .time {
  left: 13px;
  right: auto; }
/* line 84 */
.rtl .notifications-list .item a .time i {
  margin-left: 3px;
  margin-right: 0; }
/* line 88 */
.rtl .dropdown-menu > li > a {
  padding-right: 35px;
  padding-left: 25px; }
/* line 92 */
.rtl .dropdown-menu > li > a > i {
  margin-right: -18px;
  margin-left: 0; }
/* line 96 */
.rtl .mobile-search > a.btn {
  float: left; }
/* line 99 */
.rtl .mobile-search.active .drowdown-search {
  right: 0;
  left: auto; }
/* line 103 */
.rtl .drowdown-search {
  right: 168px;
  left: 0; }
/* line 107 */
.rtl .navbar-nav {
  margin-left: 0; }
/* line 110 */
.rtl #logo.navbar-brand > img {
  float: right;
  padding-left: 4px;
  padding-right: 0; }
/* line 115 */
.rtl .infographic-box i {
  float: right;
  margin-right: 0;
  margin-left: 15px; }
/* line 120 */
.rtl .infographic-box .headline {
  text-align: left; }
/* line 123 */
.rtl .infographic-box .value {
  text-align: left; }
/* line 126 */
.rtl .social-box > i {
  text-align: left; }
/* line 129 */
.rtl .social-box .social-count {
  float: right; }
/* line 132 */
.rtl .social-box .social-action {
  margin-left: 0;
  margin-right: 5px;
  float: right; }
/* line 137 */
.rtl .breadcrumb > li + li:before {
  display: none; }
/* line 140 */
.rtl .breadcrumb > li + li:after {
  color: #262626;
  font-family: FontAwesome;
  content: "\f104"; }
/* line 145 */
.rtl .breadcrumb > li {
  margin-left: 0;
  margin-right: 8px; }
/* line 149 */
.rtl .breadcrumb > li span {
  padding-left: 0;
  padding-right: 8px; }
/* line 153 */
.rtl .breadcrumb > li:first-child {
  margin-right: 0; }
/* line 156 */
.rtl h1 {
  padding-left: 0;
  padding-right: 14px; }
/* line 160 */
.rtl .graph-box {
  border-radius: 0 3px 3px 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
/* line 163 */
.rtl .filter-block .form-group {
  margin-right: 0;
  margin-left: 10px; }
/* line 167 */
.rtl .filter-block .btn {
  margin-right: 5px;
  margin-left: 0; }
/* line 171 */
.rtl .filter-block .form-group .search-icon {
  left: 8px;
  right: auto; }
/* line 177 */
.rtl .widget-users li > .img, .rtl .widget-products li .img, .rtl .widget-todo .name {
  float: right; }
/* line 180 */
.rtl .widget-users li > .details {
  margin-right: 60px;
  margin-left: 0; }
/* line 184 */
.rtl .widget-products li .product {
  margin-right: 90px;
  margin-left: 0; }
/* line 188 */
.rtl .widget-products li > a:after {
  left: 10px;
  right: auto;
  content: "\f137"; }
/* line 193 */
.rtl .widget-todo .actions {
  float: left;
  padding-right: 0;
  padding-left: 5px; }
/* line 198 */
.rtl .checkbox-nice {
  padding-right: 15px;
  padding-left: 0; }
/* line 202 */
.rtl .checkbox-nice label:after {
  right: 6px;
  left: auto; }
/* line 206 */
.rtl .checkbox-nice label:before {
  right: 1px;
  left: auto; }
/* line 210 */
.rtl .conversation-user {
  float: right; }
/* line 213 */
.rtl .conversation-body:before {
  right: -12px;
  left: auto;
  border-color: transparent transparent transparent #f5f5f5; }
/* line 218 */
.rtl .conversation-body {
  margin-left: 0;
  margin-right: 60px; }
/* line 222 */
.rtl .conversation-body > .time {
  left: 10px;
  right: auto; }
/* line 226 */
.rtl .conversation-item.item-right .conversation-user {
  float: left; }
/* line 229 */
.rtl .conversation-item.item-right .conversation-body:before {
  border-color: transparent #dceffc transparent transparent;
  right: auto;
  left: -12px; }
/* line 234 */
.rtl .conversation-item.item-right .conversation-body {
  margin-right: 0;
  margin-left: 60px; }
/* line 238 */
.rtl #config-tool {
  left: 0;
  right: auto; }
/* line 242 */
.rtl #config-tool.closed {
  left: -200px; }
/* line 245 */
.rtl #config-tool #config-tool-cog {
  left: auto;
  right: -50px;
  border-radius: 0 3px 3px 0;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  box-shadow: 3px 3px 3px -2px rgba(0, 0, 0, 0.1); }
/* line 251 */
.rtl .user-list tbody td > img {
  float: right;
  margin-left: 15px;
  margin-right: 0; }
/* line 258 */
.rtl #email-content, .rtl #email-detail, .rtl #email-new {
  margin-left: 0;
  margin-right: 215px; }
/* line 262 */
.rtl #email-header-tools {
  margin-left: 0;
  margin-right: 215px;
  float: right; }
/* line 267 */
.rtl #email-header-pagination .num-items {
  margin-left: 10px;
  margin-right: 0; }
/* line 271 */
.rtl #email-list li {
  padding-left: 10px;
  padding-right: 250px; }
/* line 275 */
.rtl #email-list li .chbox {
  right: 10px;
  left: auto; }
/* line 279 */
.rtl #email-list li .star {
  right: 38px;
  left: auto; }
/* line 283 */
.rtl #email-list li .name {
  right: 70px;
  left: auto; }
/* line 287 */
.rtl #email-list li .meta-info {
  left: 0;
  right: auto; }
/* line 291 */
.rtl #email-list li .meta-info .attachment {
  margin-left: 5px;
  margin-right: 0; }
/* line 295 */
.rtl #email-nav-items li.active {
  border-right-color: #1ABC9C; }
/* line 298 */
.rtl #email-nav-items li {
  border-left-width: 0;
  border-right: 3px solid #fff; }
/* line 303 */
.rtl #email-nav-items li a, .rtl #email-nav-labels li a {
  padding-left: 5px;
  padding-right: 0; }
/* line 308 */
.rtl #email-nav-items li a i, .rtl #email-nav-labels li a i {
  margin-left: 5px;
  margin-right: 0; }
/* line 313 */
.rtl #email-detail-subject .subject, .rtl #email-new-title .subject {
  float: right;
  margin-right: 0;
  margin-left: 10px; }
/* line 318 */
.rtl #email-detail-subject .label {
  float: right; }
/* line 321 */
.rtl #email-detail-sender .picture {
  left: auto;
  right: 0; }
/* line 325 */
.rtl #email-detail-sender .tools {
  left: 0;
  right: auto; }
/* line 330 */
.rtl #email-detail-sender .users .from .name, .rtl #email-detail-sender .users .from .email {
  float: right; }
/* line 333 */
.rtl #email-detail-sender {
  padding-right: 60px;
  padding-left: 0; }
/* line 337 */
.rtl #email-detail-attachments #email-attachments-header .headline {
  float: right; }
/* line 340 */
.rtl #email-detail-attachments #email-attachments-header .tools {
  float: right;
  margin-left: 0;
  margin-right: 3px; }
/* line 345 */
.rtl #email-detail-attachments #email-attachments-content ul li {
  float: right;
  margin-right: 0;
  margin-left: 10px; }
/* line 350 */
.rtl #email-body {
  padding-right: 0;
  padding-left: 30px; }
/* line 355 */
.rtl #email-new-header .form-group label, .rtl #email-new-body label {
  text-align: left; }
/* line 358 */
.rtl .select2-container.select2-container-multi .select2-choices .select2-search-choice {
  margin-left: 0;
  margin-right: 5px; }
/* line 362 */
.rtl .select2-container-multi .select2-choices .select2-search-choice {
  padding-left: 5px;
  padding-right: 18px; }
/* line 366 */
.rtl .select2-container-multi .select2-choices li {
  float: right; }
/* line 369 */
.rtl #email-navigation .email-compose-btn > i {
  margin-left: 3px;
  margin-right: 0; }
/* line 373 */
.rtl .dygraph canvas {
  right: 0; }
/* line 376 */
.rtl .profile-box-menu .profile-img {
  float: right;
  margin-left: 15px;
  margin-right: 0; }
/* line 382 */
.rtl .mfp-image-holder .mfp-close, .rtl .mfp-iframe-holder .mfp-close {
  left: -6px;
  padding-left: 6px;
  text-align: left; }
/* line 387 */
.rtl .mfp-counter {
  left: 0;
  right: auto; }
/* line 391 */
.rtl .pricing-package .package-features li {
  padding-right: 25px;
  padding-left: 0; }
/* line 396 */
.rtl .pricing-package .package-features li.has-feature:before, .rtl .pricing-package .package-features li.has-nofeature:before {
  right: 0;
  left: auto; }
/* line 400 */
.rtl .pricing-package .package-footer .btn > span {
  padding-left: 6px;
  padding-right: 0; }
/* line 404 */
.rtl .project-box .project-box-ultrafooter .project-img-owner {
  float: right;
  margin-left: 5px;
  margin-right: 0; }
/* line 409 */
.rtl .profile-box-contact .profile-img {
  margin-left: 15px;
  margin-right: 0;
  float: right; }
/* line 414 */
.rtl .main-box {
  box-shadow: -1px 1px 2px 0 #cccccc; }
/* line 417 */
.rtl .nav-tabs > li > a {
  margin-right: 0;
  margin-left: 3px; }
/* line 421 */
.rtl #newsfeed .story-content {
  padding-left: 0;
  padding-right: 100px; }
/* line 425 */
.rtl #newsfeed .story-content .story-header .story-time {
  left: 0;
  right: auto; }
/* line 429 */
.rtl #newsfeed .story-content .story-footer .story-comments-link {
  margin-left: 10px;
  margin-right: 0; }
/* line 433 */
.rtl #user-profile h2 {
  padding-right: 0;
  padding-left: 15px; }
/* line 437 */
.rtl #user-profile .profile-details ul {
  margin-left: 0;
  margin-right: 40px; }
/* line 441 */
.rtl #user-profile .profile-details ul > li > i {
  right: -2.14286em;
  left: auto; }
/* line 445 */
.rtl #search-results li .search-img {
  margin-right: 0;
  margin-left: 8px;
  float: right; }
/* line 450 */
.rtl #invoice-companies .invoice-box {
  border-left: 1px solid #e7ebee;
  border-right: 0; }
/* line 454 */
.rtl #invoice-companies .invoice-box.invoice-box-dates {
  border-left: 0; }
/* line 457 */
.rtl #invoice-companies .invoice-icon {
  margin-left: 20px;
  margin-right: 0;
  float: right; }
/* line 462 */
.rtl #invoice-companies .invoice-company {
  float: right; }
/* line 466 */
.rtl .invoice-box-total .invoice-box-total-label, .rtl .invoice-box-total .invoice-box-total-value {
  text-align: left; }
/* line 469 */
.rtl div.hopscotch-bubble {
  direction: ltr; }
/* line 472 */
.rtl #login-box #login-forget-link {
  text-align: left; }
/* line 475 */
.rtl .input-group-addon:first-child {
  border-right-color: #e7ebee; }
/* line 478 */
.rtl blockquote {
  padding-left: 20px;
  padding-right: 40px; }
/* line 482 */
.rtl blockquote:before {
  margin-left: 0;
  margin-right: -28px; }
/* line 487 */
.rtl .blockquote-reverse, .rtl blockquote.pull-right {
  border-left: 5px solid #1ABC9C;
  border-right: none;
  padding-left: 40px;
  padding-right: 20px; }
/* line 493 */
.rtl blockquote.pull-right:before {
  left: 50px;
  right: auto;
  margin-right: 0; }
/* line 498 */
.rtl .alert {
  border-width: 0 4px 0 0;
  border-style: none solid none none; }
/* line 502 */
.rtl .fa-ul {
  margin-left: 0;
  margin-right: 2.14286em;
  padding-right: 0; }
/* line 507 */
.rtl .fa-li {
  right: -2.14286em;
  left: auto; }
/* line 511 */
.rtl .dd-list .dd-list {
  padding-left: 0;
  padding-right: 30px; }
/* line 515 */
.rtl .dd-handle .nested-links {
  float: left; }
/* line 518 */
.rtl .dd-item > button {
  float: right; }
/* line 521 */
.rtl .dd-handle-list {
  left: auto;
  right: 0; }
/* line 525 */
.rtl .dd-item-list .dd-handle {
  padding-right: 40px;
  padding-left: 10px; }
/* line 529 */
.rtl .dataTables_filter input {
  margin-right: 10px; }
/* line 532 */
.rtl .dataTables_length {
  float: right;
  margin-right: 0;
  margin-left: 30px; }
/* line 537 */
.rtl .DTTT.btn-group {
  float: left;
  margin-right: 10px;
  margin-left: 0; }
/* line 542 */
.rtl .dataTables_filter {
  float: left; }
/* line 545 */
.rtl .wizard-modal-header.modal-header h3 {
  padding-left: 0;
  padding-right: 20px; }
/* line 549 */
.rtl li.wizard-nav-item {
  float: none; }
/* line 552 */
.rtl .wizard-cancel {
  margin-left: 0;
  margin-right: 20px; }

@media (max-width: 991px) {
  /* line 560 */
  .rtl #content-wrapper {
    margin-right: 0 !important; }
  /* line 566 */
  .rtl #email-content, .rtl #email-header-tools, .rtl #email-detail, .rtl #email-new {
    margin-right: 0; }
 }

@media (max-width: 767px) {
  /* line 573 */
  .rtl #email-list li .name {
    right: 45px; }
  /* line 576 */
  .rtl #email-list li {
    padding-right: 45px; }
  /* line 579 */
  .rtl #email-new-body label {
    text-align: right;
    padding-right: 5px; }
 }

 /* Theme 2 */
.theme-white #header-navbar {
  background-color: #2ecc71; }
/* line 8 */
.theme-white .navbar > .container .navbar-brand {
  background-color: #2ecc71;
  width: 221px; }
/* line 13 */
.theme-white #nav-col, .theme-white #page-wrapper {
  background-color: #ffffff; }
/* line 16 */
.theme-white #sidebar-nav .nav > li > a {
  color: #484848;
  /* border-bottom: 1px solid #e0e0e0; */ }
/* line 24 */
.theme-white #sidebar-nav .nav > .open > .submenu > li > .submenu, .theme-white #sidebar-nav .nav > .active > .submenu > li > .submenu, .theme-white #sidebar-nav .nav li .submenu > li.open a, .theme-white #nav-col-submenu .submenu > li > .submenu, .theme-white #nav-col-submenu li .submenu > li.open > a {
  background-color: #ebebeb; }
/* line 31 */
.theme-white #sidebar-nav .nav > .open > .submenu > .open > a, .theme-white #sidebar-nav .nav > .active > .submenu > .open > a, .theme-white #sidebar-nav .nav > .active > .submenu > .active > a, .theme-white #nav-col-submenu .submenu > .open > a, .theme-white #nav-col-submenu .submenu > .active > a {
  border-bottom-color: transparent;
  box-shadow: none; }
/* line 39 */
.theme-white #sidebar-nav .nav > .open > .submenu > li > .submenu > li a:hover, .theme-white #sidebar-nav .nav > .active > .submenu > li > .submenu > li a:hover, .theme-white #sidebar-nav .nav > .active > .submenu > li > .submenu > li a.active, .theme-white .nav-small #nav-col-submenu .submenu > li > .submenu > li a:hover, .theme-white .nav-small #nav-col-submenu .submenu > li > .submenu > li a.active {
  color: #2ecc71; }
/* line 58 */
.theme-white .nav-pills > li.active > a, .theme-white .nav-pills > li.active > a:hover, .theme-white .nav-pills > li.active > a:focus, .theme-white #sidebar-nav .nav-pills > li.active > a, .theme-white #sidebar-nav .nav-pills > li.active > a:hover, .theme-white #sidebar-nav .nav-pills > li.active > a:focus, .theme-white .nav-pills > li.open > a, .theme-white .nav-pills > li.open > a:hover, .theme-white .nav-pills > li.open > a:focus, .theme-white #sidebar-nav .nav-pills > li.open > a, .theme-white #sidebar-nav .nav-pills > li.open > a:hover, .theme-white #sidebar-nav .nav-pills > li.open > a:focus, .theme-white .nav-small #nav-col #sidebar-nav .nav-pills > li.open > a, .theme-white .nav-small #nav-col #sidebar-nav .nav-pills > li.active > a, .theme-white .nav-small #nav-col-submenu .submenu > .open > a, .theme-white .nav-small #nav-col-submenu .submenu > .active > a, .theme-white .nav-small #nav-col-submenu .submenu > li > a:hover {
  background-color: whitesmoke;
  border-color: #2ecc71;
  border-bottom-color: #e0e0e0;
  color: #484848; }
/* line 64 */
.theme-white #sidebar-nav .nav-pills > li.active > a > i {
  color: #2ecc71; }
/* line 67 */
.theme-white #sidebar-nav .nav > li > a:hover {
  background-color: whitesmoke;
  border-color: #2ecc71;
  border-bottom-color: #e0e0e0;
  color: #484848; }
/* line 73 */
.theme-white #header-navbar .nav > li > a {
  color: #fff; }
/* line 84 */
.theme-white #sidebar-nav .nav li .submenu, .theme-white #nav-col-submenu .submenu {
  background-color: whitesmoke; }
/* line 88 */
.theme-white #sidebar-nav .nav li .submenu > li > a, .theme-white .nav-small #nav-col-submenu .submenu > li > a {
  color: #16191c; }
/* line 92 */
.theme-white #sidebar-nav .nav li.open > a.dropdown-toggle > .drop-icon, .theme-white #sidebar-nav .nav li.active > a.dropdown-toggle > .drop-icon {
  color: #16191c; }
/* line 102 */
.theme-white #sidebar-nav .nav li .submenu > li > a:hover, .theme-white #sidebar-nav .nav li .submenu > li > a.active, .theme-white #sidebar-nav .nav li .submenu > li.active > a, .theme-white .nav-small #nav-col-submenu .submenu > .open > a, .theme-white .nav-small #nav-col-submenu .submenu > .active > a, .theme-white .nav-small #nav-col-submenu .submenu > li > a:hover, .theme-white .nav-small #nav-col-submenu .submenu > li > a.active, .theme-white .nav-small #nav-col-submenu .submenu > li.active > a {
  background-color: #ebebeb; }
/* line 105 */
.theme-white .navbar > .container .navbar-brand {
  color: #fff; }
/* line 108 */
.theme-white .navbar-toggle {
  color: #fff; }
/* line 111 */
.theme-white .graph-box {
  background-color: #2ecc71 !important; }
/* line 114 */
.theme-white #content-wrapper {
  background-color: #f9f9f9;
  border-left: 2px solid #e7ebee; }
/* line 121 */
.theme-white #user-left-box .user-box, .theme-white #user-left-box .user-box a {
  color: #16191c; }
/* line 125 */
.theme-white #user-left-box .user-box a:hover, .theme-white #user-left-box .user-box a:focus {
  color: black; }
/* line 129 */
.theme-white #sidebar-nav .nav > li.nav-header {
  border-top-color: #e7ebee;
  color: #a6a6a6; }
/* line 133 */
.theme-white .nav-tabs {
  background-color: #f9f9f9; }
  /* line 138 */
  .theme-white .nav-tabs > li.active > a, .theme-white .nav-tabs > li.active > a:hover, .theme-white .nav-tabs > li.active > a:focus {
    border-top-color: #2ecc71; }
/* line 142 */
.theme-white h1 {
  color: #2ecc71; }
/* line 152 */
.theme-white #header-navbar .nav > li > a:hover, .theme-white #header-navbar .nav > li > a:focus, .theme-white #header-navbar .nav .open > a, .theme-white #header-navbar .nav .open > a:hover, .theme-white #header-navbar .nav .open > a:focus, .theme-white .navbar-toggle:hover, .theme-white .navbar-toggle:focus, .theme-white .mobile-search.active > .btn {
  background-color: #23B862; }
/* line 155 */
.theme-white .main-box {
  border: 1px solid #e7ebee; }
/* line 162 */
.theme-white a, .theme-white .fc-state-default, .theme-white .jvectormap-zoomin, .theme-white .jvectormap-zoomout, .theme-white #user-profile .profile-details ul > li > span {
  color: #2ecc71; }
/* line 168 */
.theme-white a:hover, .theme-white a:focus, .theme-white .widget-users li > .details > .name > a:hover, .theme-white .widget-todo .actions > a:hover {
  color: #2ecc71; }
/* line 171 */
.theme-white .table a.table-link:hover {
  color: #2ecc71; }
/* line 183 */
.theme-white .pagination > li > a, .theme-white .pagination > li > span, .theme-white .pagination > li > a:hover, .theme-white .pagination > li > span:hover, .theme-white .pagination > li > a:focus, .theme-white .pagination > li > span:focus, .theme-white .pagination > li > a:active, .theme-white .pagination > li > span:active {
  color: #2ecc71; }
/* line 193 */
.theme-white .pagination > .active > a, .theme-white .pagination > .active > span, .theme-white .pagination > .active > a:hover, .theme-white .pagination > .active > span:hover, .theme-white .pagination > .active > a:focus, .theme-white .pagination > .active > span:focus {
  background-color: #2ecc71;
  border-color: #2ecc71;
  color: #fff; }
/* line 201 */
.theme-white .notifications-list .item-footer {
  background-color: #272d33; }
  /* line 204 */
  .theme-white .notifications-list .item-footer a:hover {
    background-color: #0f1114; }
/* line 220 */
.theme-white .btn-primary, .theme-white .btn-default, .theme-white .btn-info, .theme-white .btn-success, .theme-white .btn-warning, .theme-white .btn-danger, .theme-white .btn-primary:hover, .theme-white .btn-default:hover, .theme-white .btn-info:hover, .theme-white .btn-success:hover, .theme-white .btn-warning:hover, .theme-white .btn-danger:hover {
  color: #fff; }
/* line 223 */
.theme-white .btn-primary {
  background-color: #2ecc71;
  border-color: #2ecc71; }
/* line 231 */
.theme-white .btn-primary:hover, .theme-white .btn-primary:focus, .theme-white .btn-primary:active, .theme-white .btn-primary.active, .theme-white .open .dropdown-toggle.btn-primary {
  background-color: #23b862;
  border-color: #23b862; }
/* line 235 */
.theme-white .btn-success {
  background-color: #1ABC9C;
  border-color: #1ABC9C; }
/* line 243 */
.theme-white .btn-success:hover, .theme-white .btn-success:focus, .theme-white .btn-success:active, .theme-white .btn-success.active, .theme-white .open .dropdown-toggle.btn-success {
  background-color: #14a689;
  border-color: #14a689; }
/* line 247 */
.theme-white h1 {
  color: #2ecc71; }
/* line 250 */
.theme-white .widget-users li > .details > .time {
  color: #2ecc71; }
/* line 253 */
.theme-white .conversation-item.item-right .conversation-body:before {
  border-color: transparent transparent transparent #e2fdee; }
/* line 257 */
.theme-white .conversation-item.item-right .conversation-body, .theme-white .invoice-summary .invoice-summary-item {
  background-color: #e2fdee; }
/* line 261 */
.theme-white blockquote, .theme-white blockquote.pull-right {
  border-color: #2ecc71; }
/* line 266 */
.theme-white a.list-group-item.active, .theme-white a.list-group-item.active:hover, .theme-white a.list-group-item.active:focus {
  background-color: #2ecc71;
  border-color: #2ecc71; }
/* line 270 */
.theme-white .nav .caret {
  border-bottom-color: #2ecc71;
  border-top-color: #2ecc71; }
/* line 275 */
.theme-white .panel-default > .panel-heading, .theme-white .notifications-list .item-footer {
  background-color: #2ecc71; }
/* line 278 */
.theme-white .notifications-list .item-footer a:hover {
  background-color: #2ecc71; }
/* line 282 */
.theme-white #invoice-companies .invoice-dates .invoice-number > span, .theme-white .notifications-list .item a .time {
  color: #2ecc71; }
/* line 285 */
.theme-white .table thead > tr > th > a:hover span {
  color: #2ecc71;
  border-color: #2ecc71; }
/* line 291 */
.theme-white #email-nav-items li.active {
  border-left-color: #2ecc71;
  border-right-color: #2ecc71; }
  /* line 295 */
  .theme-white #email-nav-items li.active a {
    color: #2ecc71; }
  /* line 298 */
  .theme-white #email-nav-items li.active .label-primary {
    background-color: #2ecc71; }
/* line 302 */
.theme-white #email-nav-items li a:hover {
  color: #2ecc71; }
/* line 307 */
.theme-white .select2-container.select2-container-multi .select2-choices .select2-search-choice {
  background-color: #2ecc71; }
/* line 310 */
.theme-white .cd-timeline-img {
  background-color: #2ecc71;
  box-shadow: 0 0 0 6px #bce9cf; }
/* line 314 */
.theme-white #cd-timeline::before {
  background-color: #bce9cf; }
/* line 317 */
.theme-white .dataTable thead th:hover {
  color: #2ecc71; }
/* line 320 */
.theme-white .pace .pace-progress {
  background-color: #fff; }
/* line 323 */
.theme-white #config-tool.closed #config-tool-cog:hover {
  background-color: #2ecc71; }

/* line 327 */
.rtl.theme-white #content-wrapper {
  border-right: 2px solid #e7ebee;
  border-left: 0; }

@media only screen and (min-width: 1170px) {
  /* line 334 */
  .theme-white .cd-timeline-content .cd-date {
    color: #2ecc71; }
 }

@media (max-width: 991px) {
  /* line 341 */
  .theme-white #logo.navbar-brand > img.normal-logo.logo-white {
    display: block; }
  /* line 344 */
  .theme-white #logo.navbar-brand > img.normal-logo.logo-black {
    display: none; }
  /* line 347 */
  .theme-white .navbar > .container .navbar-brand {
    background-color: #2ecc71; }
 }
  